/* root styles */

*,
*::after,
*::before {
  --clr-white: #ffffff;
  --clr-blue: #335576;
  --clr-orange: #db7a4e;
  --clr-cream: #fefaf5;
  font-size: 10px;
  box-sizing: border-box;
}

/* Header Section */

.logo__wordmark {
  color: var(--clr-blue);
  font-size: 1.8rem;
  font-weight: 600;
}

.nav__list {
  background: #ffffff;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.nav__item {
  list-style: none;
  margin-right: 4rem;
  margin-left: 2rem;
  font-size: 1.6rem;
}
.nav__item a {
  color: black;
}

/* Orange underline with hover. With bottom padding */
.nav__item a:hover,
.current__page {
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  color: var(--clr-orange);
  width: fit-content;
}

.nav__item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

/* Card Section */

.card-section {
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  background-image: url(../assets/2.0-Assets/Images/hawaii.jpg);
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding: 150px 75px 30px 75px;
}

.cards {
  height: 350px;
  width: 220px;
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 5px;
  padding-top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
