body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.card-section {
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  background-image: url(../assets/2.0-Assets/Images/hawaii.jpg);
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding: 150px 75px 30px 75px;
}

.cards {
  height: 350px;
  width: 220px;
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 5px;
  padding-top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
