*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  max-width: 1280px;
}

/* root styles */

*,
*::after,
*::before {
  --clr-white: #ffffff;
  --clr-blue: #335576;
  --clr-orange: #db7a4e;
  --clr-cream: #fefaf5;
  font-size: 10px;
  box-sizing: border-box;
}

/* Header Section */
.logo__wordmark {
  color: var(--clr-blue);
  font-size: 1.8rem;
  font-weight: 600;
}

.nav__list {
  background: #ffffff;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.nav__item {
  list-style: none;
  margin-right: 4rem;
  margin-left: 2rem;
  font-size: 1.6rem;
}
.nav__item a {
  color: black;
}

/* Orange underline with hover. With bottom padding */
.nav__item a:hover,
.current__page {
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  color: var(--clr-orange);
  width: fit-content;
}

.nav__item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

/* footer section */

.footer {
  background-color: var(--clr-cream);
  padding: 1rem 0;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--clr-blue);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2;
}

.footer__contact {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 125px;
}

.footer__hours {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.footer__hours-weekend {
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  padding-left: 30px;
  padding-right: 30px;
}

.footer__social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  height: 150px;
  width: 100px;
}

.footer__titles {
  color: var(--clr-blue);
  padding-bottom: 1.5rem;
  font-size: 2.5rem;
}
.image__icon-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 150px;
}

.image__icons {
  max-width: 30px;
  max-height: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.clr__orange {
  color: var(--clr-orange);
}
