/* Hero section */

.hero {
  padding: 4rem 2rem;
  display: flex;
  width: 1280px;
  height: 400px;
  background-color: var(--clr-cream);
  text-align: left;
}

.hero__slogan {
  color: var(--clr-blue);
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero__paragraph-text {
  color: var(--clr-blue);
  padding-bottom: 2rem;
  font-weight: 0;
  line-height: 2.4rem;
  font-size: 1.7rem;
}

.get-started-btn {
  background-color: var(--clr-orange);
  color: var(--clr-white);
  font-size: 1.7rem;
  font-weight: 0;
  min-width: 140px;
  min-height: 35px;
  border-color: var(--clr-orange);
  border: none;
  border-radius: 100px;
}

.hero__img {
  max-width: 550px;
  max-height: 400px;
  padding-right: 50px;
  display: flex;
  justify-content: flex-end;
}

.hero__information {
  width: fit-content;
  margin-right: auto;
  margin-left: 2rem;
}

/* Recommendation Section */

.cards {
  height: 350px;
  width: 220px;
  background: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 5px;
  border-top: 50px;
  border-right: 50px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card__container {
  display: flex;
  justify-content: space-between;
  background-position: center;
  justify-content: space-around;
  align-items: flex-end;
  margin: 50px 130px 0px 130px;
  padding-bottom: 75px;
}

.card__hawaii {
  background-image: url(../assets/2.0-Assets/Images/hawaii.jpg);
  background-size: cover;
  background-position: center;
}

.card__iceland {
  background-image: url(../assets/2.0-Assets/Images/iceland.jpg);
  background-size: cover;
  background-position: center;
}

.card__greece {
  background-image: url(../assets/2.0-Assets/Images/greece.jpg);
  background-size: cover;
  background-position: center;
}
/* Informtation in the cards */

.card__title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 280px;
  padding-left: 9rem;
  font-size: 2.2rem;
  color: var(--clr-white);
}

.card__title-hawaii {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2rem;
  padding-left: 12rem;
  font-size: 2.9rem;
  color: var(--clr-white);
}

/*  text decoration none on <a> tags */
a:link {
  text-decoration: none !important;
}
