/* root styles */

:root {
  --clr-white: #ffffff;
  --clr-blue: #335576;
  --clr-orange: #db7a4e;
  --clr-cream: #fefaf5;
  font-size: 10px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

.clr-orange {
  color: var(--clr-orange);
}

/* Header Section */

.logo-wordmark {
  color: var(--clr-blue);
  font-size: 1.8rem;
  font-weight: 600;
}

.nav-list {
  background: #ffffff;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
  padding: 0 2rem;
  font-size: 1.2rem;
}
.nav-item a {
  text-decoration: none;
  color: black;
}

/* Orange underline with hover. With bottom padding */
.nav-item a:hover {
  padding-bottom: 2px;
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  color: var(--clr-orange);
  width: fit-content;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

/* Hero section */

.hero {
  padding: 4rem 2rem;
  display: flex;
  background-color: var(--clr-cream);
  text-align: left;
  margin: 0 auto;
}

.hero-slogan {
  color: var(--clr-blue);
  font-size: 2.7rem;
  padding-bottom: 2rem;
}

.hero-paragraph-text {
  color: var(--clr-blue);
  padding-bottom: 2rem;
  line-height: 1.4rem;
}

.get-started-btn {
  background-color: var(--clr-orange);
  color: var(--clr-white);
  font-size: 1.2rem;
  font-weight: 50;
  min-width: 120px;
  min-height: 25px;
  border-color: var(--clr-orange);
  border: none;
  border-radius: 100px;
}

.hero-img {
  max-width: 300px;
  max-height: 300px;
  justify-content: flex-end;
}

.hero-information {
  width: fit-content;
  margin-right: auto;
  margin-left: 2rem;
}

/* Recommendation Section */

.recommendations-title {
  color: var(--clr-blue);
  align-items: flex-start;
  padding-top: 2rem;
  padding-left: 4rem;
}

.recommendation-card-div {
  display: flex;
  padding: 25px 125px;

  justify-content: space-evenly;
}

.recommendation-cards {
  display: flex;
  padding-top: 1rem;
  width: 300px;
  height: 550px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.recommendation-cards-hawaii {
  display: flex;
  background-image: url(../assets/2.0-Assets/Images/hawaii.jpg);
  background-size: 100% 100%;
  padding: 0 50px 0 50px;
  max-width: 300px;
  max-height: 550px;
}

.recommendation-cards-iceland {
  display: flex;
  background-image: url(../assets/2.0-Assets/Images/iceland.jpg);
  background-size: 100% 100%;
  max-width: 300px;
  max-height: 550px;
}

.recommendation-cards-greece {
  display: flex;
  background-image: url(../assets/2.0-Assets/Images/greece.jpg);
  background-size: 100% 100%;
  max-width: 300px;
  max-height: 550px;
}

.recommendation-location-title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2rem;
  padding-left: 20rem;
  font-size: 1.8rem;
  color: var(--clr-white);
}

.recommendation__location-title-hawaii {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 2rem;
  padding-left: 16rem;
  font-size: 1.8rem;
  color: var(--clr-white);
}

/*  text decoration none on <a> tags */
a:link {
  text-decoration: none !important;
}
/* footer section */

.footer {
  background-color: var(--clr-cream);
  display: flex;
  justify-content: center;
  color: var(--clr-blue);
  padding: 25px 50px;
}

.footer-contact {
}

.footer-hours {
}

.footer-social {
}
